<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="./config.js"></script>

</head>
<body>
<!--.container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。 -->
<div class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">发布文章</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="upload_article.html">发布文章</a>
                    <li ><a href="all_article.html">文章列表</a>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</div>

<div class="col-md-2 col-md-offset-3">
    <img id="img"/>
<h1 id="title">标题：</h1>
<h3 id="label">标签：</h3>
<h5 id="create_time">创建时间：</h5>
<div id="content">文章正文：</div>
</div>

<!--<ul class="list-unstyled">-->
<!--    <li style="background-color: #f7f7f7;margin-bottom: 50px;padding-left: 50px;">-->
<!--        <div style="display: -webkit-flex;display: flex;flex-direction: row" >-->
<!--            <img src="{{article.img}}" style="width: 300px;height: 200px"/>-->
<!--            <div style="display: -webkit-flex;display: flex;flex-direction: column;margin-left: 10px" >-->
<!--                <h1>{{article.title}}</h1>-->
<!--                <div style="display: -webkit-flex;display: flex;flex-direction: row" >标签：&nbsp;&nbsp;<p style="color: #00b7ee">{{article.label}}</p></div>-->
<!--                <div>{{article.content}}</div>-->
<!--            </div>-->

<!--        </div>-->
<!-- </li>-->
<!--</ul>-->

<script type="text/javascript">
    function GetQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURI(r[2]);
    return null;
}
    $(document).ready(function(){
        let id=GetQueryString('id');
        // console.log("yyy",$('#mark').text());
        // $('#mark').append("222");
        $.ajax({
                 url: DetailArticle+id,
                type: "get",
                success: function(result) {
                     //成功
                    console.log("成功",result)
                    let data=result.data;
                    $('#img').attr("src",data.img);
                    $('#title').append(data.title);
                    $('#label').append(data.label);
                    $('#create_time').append(data.create_time);
                    $('#content').append(data.content);
                 },
                 error: function(e) {
                     //失败
                     console.log("失败",e)
                }
             });
    });



</script>
</body>
</html>