<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
     <script type="text/javascript" charset="utf-8" src="./static/ueditor.config.js"></script>
     <script type="text/javascript" charset="utf-8" src="./config.js"></script>
<script type="text/javascript" charset="utf-8" src="./static/_examples/editor_api.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="./static/upload.js"></script>
<script>
    function DragImgUpload(id,options){
        this.me=$(id);
        var defaultOpt={boxWidth:'200px',boxHeight:'200px'};
        this.preview=$('<div id="preview">' +
            '<img src="https://img.yaofun.vip/2019/11/28/70f40960-11cf-11ea-9c8a-0242ac13000a.png" class="img-responsive"  ' +
            'style="width: 100%;height: auto;" alt="" title=""> ' +
            '</div>');
        this.opts=$.extend(true,defaultOpt,{},options);
        this.init();
        this.callback=this.opts.callback;
    }

    DragImgUpload.prototype={
        init:function(){
            this.me.append(this.preview);
            this.me.append(this.fileupload);
            this.cssInit();
            this.eventClickInit();
            },
        cssInit:function(){
            this.me.css(
                {'width':this.opts.boxWidth,
                    'height':this.opts.boxHeight,
                    'border':'0px solid #cccccc',
                    'padding':'10px','cursor':'pointer'}
                    );
            this.preview.css(
                {'height':'100%','overflow':'hidden'}
                )
        },
        onDragover:function(e){
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect='copy';
            },
        onDrop:function(e){
            var self=this;e.stopPropagation();
            e.preventDefault();
            var fileList=e.dataTransfer.files;
            if(fileList.length==0){return false;}

            if(fileList[0].type.indexOf('image')===-1){alert("");return false;}

            var img=window.URL.createObjectURL(fileList[0]);
            var filename=fileList[0].name;
            var filesize=Math.floor((fileList[0].size)/1024);
            if(filesize>500){alert("");return false;}

            self.me.find("img").attr("src",img);
            self.me.find("img").attr("title",filename);
            if(this.callback){this.callback(fileList);}
            },
        eventClickInit:function(){
            var self=this;this.me.unbind().click(function(){self.createImageUploadDialog();});
            var dp=this.me[0];
            dp.addEventListener('dragover',function(e){self.onDragover(e);});
            dp.addEventListener("drop",function(e){self.onDrop(e);});
            },
        onChangeUploadFile:function(){
            var fileInput=this.fileInput;
            var files=fileInput.files;
            var file=files[0];
            var img=window.URL.createObjectURL(file);
            var filename=file.name;
            this.me.find("img").attr("src",img);
            this.me.find("img").attr("title",filename);
            if(this.callback){this.callback(files);}
            },
        createImageUploadDialog:function(){
            var fileInput=this.fileInput;
            if(!fileInput){
                fileInput=document.createElement('input');
                fileInput.type='file';
                fileInput.name='ime-images';
                fileInput.multiple=true;
                fileInput.onchange=this.onChangeUploadFile.bind(this);this.fileInput=fileInput;
            }
            fileInput.click();
        }
    }
</script>
</head>
<body>
<!--.container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。 -->
<div class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">发布文章</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="upload_article.html">发布文章</a>
                    <li ><a href="">文章列表</a>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</div>



<form method="post" style="margin-left: 100px;margin-right: 100px;">


<h3>封面</h3>

<div id="drop_area" style="margin-bottom: 50px;"></div>

<div class="input-group" style="padding-bottom: 100px;">
  <span class="input-group-addon" id="basic-addon1">标题</span>
    <input type="text" id="title" class="form-control" placeholder="请输入标题"/>
</div>

    <div class="input-group" style="padding-bottom: 100px;">
  <span class="input-group-addon" id="basic-addon1">标签</span>
    <input type="text" id="label"  class="form-control" placeholder="请输入标签"/>
</div>


    <h3>正文：</h3>

      <script type="text/plain" id="myEditor" name="myEditor" style="width:1024px;height:500px;margin-bottom: 50px">
      </script>

    <button type="button" id="btnGo" class="btn btn-default btn-lg" >提交</button>



</form>

<script type="text/javascript">
    var editor_a = UE.getEditor('myEditor',{initialFrameHeight:500,serverUrl: UploadImg});

        //--自动切换提交地址----
        var doc=document,
                version = editor_a.options.serverUrl || editor_a.options.imageUrl || "php",
                form=doc.getElementById("form");
        if(version.match(/php/)){
            form.action="./server/getContent.php";
        }else if(version.match(/net/)){
            form.action="./server/getContent.ashx";
        }else if(version.match(/jsp/)){
            form.action="./server/getContent.jsp";
        }else if(version.match(/asp/)){
            form.action="./server/getContent.asp";
        }

    var img="";

    $('#btnGo').bind('click',function () {
       console.log($('#title').val());
       console.log($('#label').val());
       console.log(img);
       console.log(editor_a.getContent())

        var formData=new FormData();
       formData.append('img',img);
       formData.append('title',$('#title').val());
       formData.append('label',$('#label').val());
       formData.append('content',editor_a.getContent());
        $.ajax({
                 url: UploadArticle,
                 data: formData,
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                     if(data.success){
                          alert("发布成功");
                         console.log("成功",data)
                     }else{
                         alert(data.msg);
                     }
                 },
                 error: function(e) {
                     //失败
                     console.log("失败",e)
                     alert("上传失败，请稍后重试");
                }
             });
    });
    var dragImgUpload = new DragImgUpload("#drop_area",{
        callback:function (files) {
            //回调函数，可以传递给后台等等
            var file = files[0];
            console.log(file.name);

            var formData=new FormData();
            formData.append("image",file);
            formData.append("watermark","yes");

             $.ajax({
                 url: 'https://wechat.53iq.com/tmp/kitchen/api/upload_img',
                 data: formData,
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                     //成功
                    console.log("成功",data)
                    img=data.data.img_url;
                 },
                 error: function(e) {
                     //失败
                     console.log("失败",e)
                     alert("封面上传失败，请重新选择上传");
                }
             });

        }
    })
</script>
</body>
</html>