{% extends 'base.html'%}

{% block body%}
<ul class="list-unstyled">
    {% for article in articles%}
    <li>
        <div class="panel {{class_list|random}}">
  <div class="panel-heading">
     <a href="{{url_for('detail_article',id=article.oId)}}">
         {{article.title}}---{{article.create_time}}
     </a>
         &nbsp;&nbsp;&nbsp;&nbsp; <a href="{{url_for('delete_article',id=article.oId)}}">删除</a>
  </div>
  <div class="panel-body">{{article.label}}</div>
</div>

{% endfor %}

    </li>

</ul>
{% endblock %}